<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Direccion matriz</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet" type="text/css">
    <!-- Scripts -->
    <script src="js/bootstrap.min.js" defer></script>
    <script src="js/lodash.js" defer></script>
    <script src="js/vue.js" defer></script>
    <script src="js/logisticVue.js" defer></script>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">

    <!-- Styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Prueba logistica</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            </div>
        </div>
    </nav>
    <div class="container" id="app">
        <div class="row">
            <div class="col-md-12 mt-3">
                <div class="row">
                    <div class="col-md-10 pl-0">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"># prueba</span>
                            </div>
                            <input v-model="numPrueba" type="text" class="form-control" placeholder="#" aria-label="url" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="col-md-12 btn-primary" @click="generarInputs" href="javascript:(void(0))">Generar</button>
                    </div>
                </div>
            </div>
            <div v-if="!validacionPrueba.valido" class="col-md-12">
                <p class="text-danger">{{validacionPrueba.msj}}</p>
            </div>
            <div class="col-md-12 mt-2">
                <div class="row">
                    <label for="" class="label col-md-12">Ingresa las dimenciones (n, m)</label>
                    <template v-for="(input, index) in numImputs">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2">M{{index+1}}</span>
                                    </div>
                                    <input :id="'matriz'+index" v-model="input.dimension" type="text" class="form-control" placeholder="N,M" aria-label="url" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p v-if="input.error" class="text-danger">{{input.msj}}</p>
                            </div>
                        </div>
                    </template>
                </div>
                <div class="col-md-12 mt-3 mb-3">
                    <button :disabled="!validacionPrueba.valido" class="btn btn-primary" @click="obtenerLecturas">Realizar lectura</button>
                </div>
            </div>

            <div v-if="vizualizarDatos" class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Matriz</th>
                        <!--<th scope="col">Posiciones</th>-->
                        <!--<th scope="col">Direccion</th>-->
                        <th scope="col">Direccion Final</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="matriz in valoresGenerados">
                        <th scope="row">{{matriz.nombre}} {{'('+matriz.dimension+')'}}</th>
                        <!--<td>{{matriz.recorrido}}</td>-->
                        <!--<td>{{matriz.direcciones}}</td>-->
                        <td>{{matriz.direccionFinal}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
<!DOCTYPE html>
